@{
    ViewData["Title"] = "Home Page";
}

<div class="homepage-text1">
    <p>GLoveYourself is an easy-to-use application that matches you with the perfect hand protection based on your specific needs and hand size.</p>
</div>
<div class="homepage-text2">
    <p>Just create a simple account, select from a few options and you'll be on your way to picking the right glove for your project in no time!</p>
</div>

