html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5em;
    justify-content: center;
}

.navbar {
    padding: 0.2rem;
}

.navbar-expand-sm {
    background-image: linear-gradient(97deg, #eb297a, #fe7f41);
}

.lower-nav1 {
    padding-top: 0;
    max-height: 10vh;
    background-color: #f4f4f5;
}

.company-name {
    font-family: 'BenchNine', sans-serif;
    font-size: 2.2em;
    color: #0fcaf0;
}

.footer {
    background-color: #191b22;
}

.footer-text {
    color: white;
}

.footer-text img {
    height: 1.2rem;
}

.pb-3 {
    text-align: center;
/*    color: darkgray;*/
}

.row {
    justify-content: center;
}

.card {
    border-radius: 10px;
    border-color: darkgray;
}

.card-title {
    color: #eb297a;
    font-size: 1.5em;
}

.card-text-brand {
    color: #fe7f41;
    font-size: 1.2em;
}

.card-text-description {
    text-align: left;
    color: darkgray;
    font-size: 0.8em;
}

.card-text-category {
    text-align: left;
    font-size: 0.8em;
}

.card-text-task {
    text-align: left;
    font-size: 0.8em;
}

.card-text-created {
    font-size: 0.8em;
    color: darkgray;
}

.control-label {
    color: #eb297a;
    font-size: 0.8rem;
}

.form-group {
    text-align: left;
}

.links a {
    color: #eb297a;
    text-decoration: none;
}

.links a:hover {
    color: black;
}

.delete-confirm2 {
    color: red;
}

.col-sm-10 {
    text-align: left;
}

.col-sm-2 {
    color: #eb297a;
}
