@model GloveYourself.Models.Task.TaskEdit

@{
    ViewData["Title"] = "Edit Task";
}

<h3 class="section-title">Edit @Html.DisplayFor(model => model.TaskName)</h3>

<hr />

<p>Please enter new task information below.</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.HiddenFor(model => model.TaskId)

            <div class="form-group">
                <label asp-for="TaskName" class="control-label"></label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group-button">
                <input type="submit" value="Save" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>
<br />
<div class="links">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
