@model IEnumerable<GloveYourself.Models.Task.TaskListItem>

@{
    ViewData["Title"] = "Tasks";
}

<h3 class="section-title">Tasks</h3>

<hr />

<div class="form-group-button">
    <a class="btn btn-success" href="task/create"><i class="oi oi-plus"></i>Create New</a>
</div>
<br />

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success" role="alert">
        @TempData["SaveResult"]
    </div>
}
<div class="card-container">
    @foreach (var task in Model)
    {
        <div class="card-container">
                <div class="card" style="width: 16rem;">
                    <div class="card-body">

                        <h3 class="card-title">@task.TaskName</h3>
                        <br />
                        <a class="btn btn-info" href="task/details/@task.TaskId">Details</a>
                        <a class="btn btn-warning" href="task/edit/@task.TaskId">Edit</a>
                        <a class="btn btn-danger" href="task/delete/@task.TaskId">Delete</a>
                        <br />
                        <br />
                        <h6 class="card-text-created"><i>Created @task.CreatedUtc.DateTime</i></h6>
                    </div>
                </div>
        </div>
    }
</div>
